

.poesia_imput_bottone {
  display: flex;
  position: relative;
  justify-content: center;
  width: 300%;
  margin-top: 15%;
  
  flex-direction: column;

}

.bottone_invia_poesia {
  display: flex;
  width: 70%;


  flex-direction: column;
}

.tabelle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.tabPanel {
  display: flex;
  justify-content: center;
  


}

.custom-drawer {
  display: flex;
  position: relative; /* Ensure relative positioning */
  z-index: 25; /* Set a high z-index value */
} 

.drawer-button {
  display: flex;
  position: relative; /* Ensure relative positioning */
  z-index: 26; /* Set a high z-index value */
}

.Menu-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 100%; /* Adjust the value as needed */

}
